body{
	background: #C2B9B0;
}
.mynavbar
{
	color: #C38D9E;
	padding:10px;
	margin 10px;
}
a
{
	font-family: parkway lush;
	color:#C38D9E; 
	font-size: 30px;
	display:block;
	padding:14px 12px;
	text-decoration: none;
	float:right;
}

.navbar-default
{
	background: #2E1114;
}

.navbar-nav
{
	color: #C38D9E;	
}

.navbar-nav
{
	padding: 25px;
	float:right;
}
nav
{
	color: #C38D9E;
	background: #2E1114;
	list-style-type: none;
	padding:0;
	margin:0;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #C38D9E;
}
.left{
	float:left;
}
.right
{
	float: right;
}
.para
{
	overflow:auto;
	padding: 10px;
	border:2px solid black;
	margin:10px;
}
#image
{
	float:left;
	padding:0px 20px 20px 20px;
	height:200px;
	width:300px;
}